:root {
    --pink: #f14e95;
    --pink-muted: #fdf4f8;
    --pink-hover: #d94585;
    --white: #fff;
    --grey: #ccc;
    --light-grey: #d4d4d4;
    --very-light-grey: #eee;
    --dark-grey: #999;
    --dark: #151515;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
  }

  #door-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .doors {
    display: flex;
    width: 100%;
    max-width: 278px;
    height: 50vh;
    max-height: 700px;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0;
  }
  
  .door {
    width: 42.1%;
    height: 100%;
    position: relative;
    transform-origin: center left;
    transition: transform 1s, filter 0.5s;
    overflow: hidden;
    gap: 0;
  }
  
  .door img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  
  .door.left {
    left: 22px;
    transform-origin: center left;
  }
  
  .door.right {
    right: 22px;
    transform-origin: center right;
  }
  
  .heading-door {
    font-size: clamp(48px, 6vw, 68px);
    width: 90%;
    max-width: 90vh; /* Batas lebar agar tidak terlalu memanjang */
    margin-top: 20px;
    position: absolute;
  }
  
  .heading-door.left {
    left: 5%;
  }
  
  .heading-door.right {
    right: 5%;
  }
  
  .huruf-sambung {
    font-family: 'Sacramento', cursive;
    color: #5a3e2b;
  }

  
@media (max-width: 1200px) {
    .doors {
      width: 100%; 
      height: 40vh; 
      max-height: 800px; 
      margin-top: 50px;
      border-radius: 5px;
      position: absolute;
      cursor: pointer;
      gap: 0;
    }
    .door {
      width: 64.1%;
      height: 100%;
      position: absolute;
      transform-origin: center left;
      transition: transform 1s, filter 0.5s;
      overflow: hidden;
      gap: 0;
    }
  
    .door.left {
      left: 0;
    }
  
    .door.right {
      right: 0;
    }
  
    .heading-door {
      font-size: clamp(32px, 10vw, 60px);
      height: 100vh;
      margin-bottom: 15px; 
      margin-top: 15vh;
      position: relative;
      line-height: 5;
      align-items: center;
      }
  
    .heading-door.left {
      left: auto;
      text-align: center;
    }
  
    .heading-door.right {
      right: auto;
      text-align: center;
    }
  }
  
  @media (max-width: 992px) {
    .doors {
      width: 100%;
      height: 40vh;
      max-height: 800px;
      margin-top: 50px;
      border-radius: 5px;
      position: absolute;
      cursor: pointer;
      gap: 0;
    }
    .door {
      width: 64.1%;
      height: 100%;
      position: absolute;
      transform-origin: center left;
      transition: transform 1s, filter 0.5s;
      overflow: hidden;
      gap: 0;
    }
  
    .door.left {
      left: 0;
    }
  
    .door.right {
      right: 0;
    }
  
    .heading-door {
      font-size: 50px;
      height: 100vh;
      margin-bottom: 15px;
      max-width: 150vh; 
      margin-top: 15vh;
      position: relative;
      line-height: 5;
      align-items: center;
      }
  
    .heading-door.left {
      left: 0;
      text-align: center;
    }
  
    .heading-door.right {
      right: auto;
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .doors {
      width: 100%;
      height: 40vh;
      max-height: 800px;
      margin-top: 50px;
      border-radius: 5px;
      position: absolute;
      cursor: pointer;
      gap: 0;
    }
    .door {
      width: 64.1%;
      height: 100%;
      position: absolute;
      transform-origin: center left;
      transition: transform 1s, filter 0.5s;
      overflow: hidden;
      gap: 0;
    }
  
    .door.left {
      left: 0;
    }
  
    .door.right {
      right: 0;
    }
  
    .heading-door {
      font-size: 50px;
      height: 100vh;
      margin-bottom: 15px;
      max-width: 150vh; 
      margin-top: 15vh;
      position: relative;
      line-height: 5;
      align-items: center;
      }
  
    .heading-door.left {
      left: 0;
      text-align: center;
    }
  
    .heading-door.right {
      right: auto;
      text-align: center;
    }
  }
  
  @media (max-width: 576px) {
    .heading-door {
      font-size: clamp(50px, 5vw, 28px);
      height: 100vh;
      margin-bottom: 15px;
      max-width: 150vh; 
      margin-top: 15vh;
      position: relative;
      line-height: 5;
      align-items: center;
      }
  
    .doors {
      width: 100%;
      height: 40vh;
      max-height: 800px;
      margin-top: 50px;
      border-radius: 5px;
      position: absolute;
      cursor: pointer;
      gap: 0;
    }
    .door {
      width: 64.1%;
      height: 100%;
      position: absolute;
      transform-origin: center left;
      transition: transform 1s, filter 0.5s;
      overflow: hidden;
      gap: 0;
    }
  }
  